@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 80%;
    max-width: 400px;
}

.createAccount {
    color: #333;
    font-size: 32px;
    font-weight: 500;
}


.user-email-pass {
    display: flex;
    flex-direction: column;
    color:#666666;
}

.login {
    margin-bottom: 32px;
}

label {
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

small {
    font-size: 10px;
    color: #666;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #555;
}

a {
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.create-account-btn {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
.create-account-btn:hover {
    background-color: #444;
}

.terms {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.terms a {
    color: #333;
    text-decoration: underline;
}

.brand-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5rem; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px;
}

.left-side {
    position: relative;
    background: linear-gradient(45deg, #FFD700, #FFA500, #FF69B4); 
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
